<?xml version="1.0"?>
<packet>
<database>
    <add-db-user>
        <db-id>{{new_db_id.matches.0.id}}</db-id>
        <login>{{ dbuser }}</login>
        <password>{{ dbpw }}</password>             
    </add-db-user>
</database>
</packet>